{
  "project_info": {
    "project_number": "440075672976",
    "firebase_url": "https://dopaminecut-community-default-rtdb.firebaseio.com",
    "project_id": "dopaminecut-community",
    "storage_bucket": "dopaminecut-community.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "REPLACE_WITH_DOWNLOADED_ANDROID_APP_ID",
        "android_client_info": {
          "package_name": "com.example.dopaminecut2"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "AIzaSyBc41ylE5iQ4u0tB2cOZ-jvpaieSo2Kai0"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
